<div class="post__navigation">
  {% if page.previous.url %}
  <a class="post__prev" href="{{page.previous.url}}">
        {% if page.previous.image %}
    <div class="prev__image">
      {% if page.previous.video_embed %}
      <div class="video-icon">
        <div class="circle pulse"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <polygon points="40,30 65,50 40,70"></polygon>
        </svg>
      </div>
      {% endif %}
      <img class="lazy" data-src="{{site.baseurl}}{{page.previous.image}}" alt="{{ page.title }}">
    </div>
    {% endif %}
    <div class="prev__box">
      <span class="post__nav post__nav__prev">Older post</span>
      <h2 class="post__nav__title">{{page.previous.title}}</h2>
    </div>
  </a>
  {% endif %}

  {% if page.next.url %}
  <a class="post__next" href="{{page.next.url}}">
    <div class="next__box">
      <span class="post__nav post__nav__next">Newer post</span>
      <h2 class="post__nav__title">{{page.next.title}}</h2>
    </div>
        {% if page.next.image %}
    <div class="next__image">
      {% if page.next.video_embed %}
      <div class="video-icon">
        <div class="circle pulse"></div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <polygon points="40,30 65,50 40,70"></polygon>
        </svg>
      </div>
      {% endif %}
      <img class="lazy" data-src="{{site.baseurl}}{{page.next.image}}" alt="{{ page.title }}">
    </div>
    {% endif %}
  </a>
  {% endif %}
</div>